/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */
[id^="order"],                        /* HIDE CHECKBOX */
[id^="order"] ~ .list,                /* HIDE LIST */
[id^="order"] + label  span + span,   /* HIDE "Collapse" */
[id^="order"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
    display:none;
}
[id^="order"]:checked + label span + span{
    display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="order"]:checked ~ .list{
    display:block;                        /* SHOW LIST (IF CHECKED) */
}
.badge {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: rgba(255,0,0,1);
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-top: -4px;
    margin-left: -10px;
}
#topmenu_login_dialogue
{
    font-size: smaller;
}
.custom {
    width: 75px !important;
    border-radius: 7px;
    color: white;
    border-color: white;
}
.text {
    font-family: "Roboto Light";
}
.basketButtom {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.basketButtom:hover {
    text-decoration-line: underline;
    text-decoration: white;
    color: rgba(255,255,255,0.8);
}
.navtext {
    text-decoration: none;
    color: rgba(255,255,255,1);
}
.navtext:hover {
    text-decoration-line: underline;
    text-decoration: white;
    color: rgba(255,255,255,0.8);
}

.accordionhover:hover {
    background-color: #f6f5f7;
    color: black;
}

